	body{
		background-color: #eeeeee;
	}

	.navbar-default{
		background-color:white;
		border-bottom-color: #FFDD00;
		padding: 20px;
	}

	.baseDorada{
		border-bottom-color:  #FFDD00;  

	} 

	.ancho {
		border: 8%;
	}

	.jumbotron {
		background-color: #FFFADA;
	}
	.panel-body{
		height: 150px;
	}

	.panel:hover{
		border-color: #FFD000;
	}

	.progress {
		border-radius: 0;
		max-height: 10px;
		margin: 1px;
	}

	.progress-bar {
		background-color: #FFDD00;
	}
	
	.imgProyecto{
		width: 100%;
		height: 150px;
	}
